/* Alignement blocs principaux */

#contacts{
	display: inline-table;
	width: 60%;
}

#CRUM{
	display: inline-table;
	text-align: right;
	width: 30%;
}

/* Bouton et formulaires cachés au départ */


#form{
	visibility: hidden;
}

#submit{
	visibility: hidden;
}

#update{
	visibility: hidden;
	display: inline;
}

#delete{
	visibility: hidden;
	display: inline;
}

#cancel{
	visibility: hidden;
	display: inline;
}

/* Mise en forme titre */

#titleContacts{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color : #CC5500;
	margin-bottom: 10%
}

/* Les contacts */

.displayContacts{
	margin:auto;
	color : #000080;
	font-weight: bold;
	color : #000080;
	background-color: #D3D3D3;
	text-align: center;
}

/*Style des boutons */

button{
	border-style : solid;
	border-width : 1px;
	border-color : black;
	background-color: white;
	color : #CC5500;
	font-weight: bold;
	height : 25px;
	font-size: 15px;
	text-align: center;
}
