#form{
	visibility: hidden;
	margin: auto;
}

#CRUM{
	display: inline-table;
	width: 50%;
}


#submit{
	visibility: hidden;
}

#myContacts{
	display : inline-table;
	width: 40%;
}

button{
	border-style : solid;
	border-width : 1px;
	border-color : black;
	background-color: white;
	color : #CC5500;
	font-weight: bold;
	height : 30px;
	margin-left: 10%;
	font-size: 15px;
	text-align: center;
}

#titleContacts{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
