#contacts{
	display: inline-table;
	width: 70%;
}

#CRUM{
	display: inline-table;
	width: 20%;
}

#form{
	visibility: hidden;
	margin: auto;
}

#submit{
	visibility: hidden;
}

#titleContacts{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

button{
	border-style : solid;
	border-width : 1px;
	border-color : black;
	background-color: white;
	color : #CC5500;
	font-weight: bold;
	height : 30px;
	font-size: 15px;
	text-align: center;
}
